[submodule "framework/web_sockets/Socket.IO"]
	path = framework/web_sockets/Socket.IO
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "ws_client"]
	path = ws_client
	url = git://github.com/LearnBoost/Socket.IO.git
[submodule "framework/logging/color"]
	path = framework/logging/color
	url = git://github.com/Marak/colors.js.git
[submodule "framework/tests/vows"]
	path = framework/tests/vows
	url = https://github.com/cloudhead/vows.git
[submodule "framework/mailing/emailjs.git"]
	path = framework/mailing/emailjs.git
	url = git://github.com/eleith/emailjs.git
