html {
  font-size : 100.01%;
}

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, hr, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfont, thead, tr, th, td {
  padding        : 0;
  margin         : 0;
  border         : none;
  outline        : none;
  vertical-align : baseline;
  font-family    : inherit;
  font-size      : 100%;
}

dfn, i, cite, var, address, em {
  font-style : normal;
}

th, b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight : normal;
}

textarea, input, select {
  font-family : inherit;
  font-size   : 1em;
}

blockquote, q {
  quotes : none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content : '';
  content : none;
}

ol, ul {
  list-style : none;
}

ins {
  text-decoration : none;
}

del {
  text-decoration : line-through;
}

table {
  border-collapse : collapse;
  border-spacing  : 0;
}

caption, th, td {
  text-align : left;
}

:focus {
  outline : none;
}

html, body {
  height : 100%;
}

body {
  margin    : 0;
  font      : 14px/2 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  color     : rgb(184, 96, 60);
  min-width : 800px;
}

header,
nav,
section,
article,
aside,
footer {
  display : block;
}

a {
  color     : rgb(184, 96, 60);
  text-decoration : underline;
}

a:hover {
  color : #85111a;
}

p {
  margin : 0 0 1em;
}

header {
  padding   : 0 50px;
  font-size : 1.5em;
}

h1 {
  font-size : 2.3em;
}

strong{
  font-weight : bold;
}

small{
  font-size : .8em;
}

header#main {
  background : rgb(255, 231, 191);
}

header#main a {
  text-decoration : none;
}

aside {
  float    : left;
  padding  : 25px 0 30px;
  position : fixed;
  width    : 250px;
}

aside form {
  margin   : 0 25px 50px;
  position : relative;
}

label {
}

hr{
  border-top: 1px solid rgb(184, 96, 60);
  border-bottom: 1px solid rgb(255, 231, 191);
  width : 100%;
  margin-top : 15px;
}

input[type="text"],
input[type="password"],
textarea {
  border  : 1px solid #aaa;
  outline : 0 none;
  padding : 4px 5px;
  width   : 100%;
  color   : rgb(184, 96, 60);
}

textarea {
  font-size : 1em;
  height: 50px;
}

textarea#topic_description{
  height : 400px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus{
  border             : 1px solid rgb(184, 96, 60);
  -moz-box-shadow    : inset 0 0 4px rgb(255, 203, 124);
  -webkit-box-shadow : inset 0 0 4px rgb(255, 203, 124);
  box-shadow         : inset 0 0 4px rgb(255, 203, 124);
  /*background : rgb(255, 203, 124);*/
}

input[type="submit"] {
  border           : 0;
  background-color : rgb(184, 96, 60);
  color            : white;
  float            : right;
}

#user_info input[type="submit"]{
  float: none;
  margin-top : 40px;
}

input[type="submit"]:hover {
  cursor             : pointer;
  -webkit-transform  : rotate(-3deg);
  -moz-transform     : rotate(-3deg);
  -o-transform       : rotate(-3deg);
  transform          : rotate(-3deg);
  font-size          : 1.2em;
  -moz-box-shadow    : 4px 6px 2px rgb(255, 231, 191);
  -webkit-box-shadow : 4px 6px 2px rgb(255, 231, 191);
  box-shadow         : 4px 6px 2px rgb(255, 231, 191);
}

footer {
  height : 100px;
}

section#content {
  position    : relative;
  margin-left : 290px;
  margin-right : 40px;
}

section#content article {
  margin   : 0;
  padding  : 25px 0 0;
  position : relative;
}

section#content header {
  font-size : 1em;
  padding   : 0;
}

.error {
  color : #d90028;
  background-color: #ffd0d9;
}

aside .error {
  background-color: transparent;
}

.message_in_content {
  text-align : center;
  padding-right : 40px;
  margin-top : 45px;
}

.with_small_indents {
  margin-top : 20px;
  margin-bottom : 20px;
}

.without_other_content{
  margin-top : 200px;
}

.left{
  float : left !important;
}

.center{
  text-align : center;
}

table.pages td{
  padding : 5px;
}
td.active{
  color : #d90028;
  background-color: #ffd0d9;
}
td.active a{
  text-decoration: none;
}