<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <script type="text/javascript" src="/js/socket.io.js"></script>
  <script type="text/javascript" src="/js/draw_desk.js"></script>

  <title>Draw desk</title>
</head>
<body>

  <h1>Draw here!</h1>
  <canvas id="draw_place" width="400" height="300" style="border: 1px solid black; background-color: #ffcccc;"></canvas>

  <script type="text/javascript">
    var draw_desk = new DrawDesk({
      canvas : document.getElementById('draw_place'),
      socket : io.connect( window.location.host, { port: 8080 } )
    });
  </script>
</body>
</html>
