{>"{cd}/main.html"/}
{<content}
  <form id="topic" action="{#url}post.create{/url}" method="post">
    <div class="control-group">
      <input placeholder="Type the name" type="text" name="post[name]"/>
    </div>
    <div class="control-group">
      <textarea placeholder="Type the description" name="post[description]"></textarea>
    </div>
    <input type="submit" value="Publish!">
  </form>

  <script type="text/javascript">
    $(function(){
      var options = {
        rules : {
          'post[name]' : {
            required      : true,
            maxlength     : 256 },

          'post[description]' : {
            required      : true,
            maxlength     : 4096 }
        },
        submitHandler : function( form ){
          var validator = this;

          $(form).ajaxSubmit({
            error : function(){
              $('#server_error').removeClass('hidden');
            },
            success : function( data ){
              if ( data.errors ) validator.showErrors( data.errors );
              else window.location = data.result;
            },
            dataType : 'json'
          });
        },
        errorClass : 'info',
        highlight: function(element, errorClass, validClass) {
          $(element).parent().addClass(errorClass).removeClass(validClass);
        },
        unhighlight: function(element, errorClass, validClass) {
          $(element).parent().removeClass(errorClass).addClass(validClass);
        }
      }

      $('#topic').validate( options );
    });
  </script>
{/content}