{>"{cd}/main.html"/}
{<content}
  {?user.guest}

  <strong><a href="#" onclick="$('#login').focus();">Login</a></strong> or
  <strong><a href="#" onclick="$('#reg_login').focus();">register</a></strong>
  to create a topic

  {:else}
  <form id="topic" action="{#url}topic.create{/url}" method="post">
    <div class="control-group">
      <input placeholder="Type the name" type="text" name="topic[name]"/>
    </div>
    <div class="control-group">
      <textarea placeholder="Type the description" name="topic[description]"></textarea>
    </div>
    <input type="submit" value="Publish!">
  </form>

  <script type="text/javascript">
    $(function(){
      var options = {
        rules : {
          'topic[name]' : {
            required      : true,
            maxlength     : 256 },

          'topic[description]' : {
            required      : true,
            maxlength     : 4096 }
      } }

      $('#topic').validate( options );
    });
  </script>
  {/user.guest}
{/content}