{>"{cd}/main.html"/}
{<content}
  {?topics}{#topics}
    <article>
      <h2><a href="{#url topic_id=id}view_topic{/url}">{name}</a></h2>
      {description|s|h|n2br}
    </article>{/topics}

    {@if cond="{pages.pages_count} > 1"}
    <div class="pagination">{#widget}pages{/widget}</div>
    {/if}
  {:else}
    <div class="alert alert-block">
      There are no topics yet.
      {^user.guest}
        <strong><a href="{#url}site.create_topic{/url}">Create one!</a></strong>
      {:else}
        <strong><a href="#" onclick="$('#login').focus();">Login</a></strong> or
        <strong><a href="#" onclick="$('#reg_login').focus();">register</a></strong>
        to create first topic
      {/user.guest}
    </div>
  {/topics}
{/content}