{>"{cd}/main.html"/}
{<content}
  {?posts}{#posts}
    <article>
      <h2><a href="{#url topic_id=id}view_topic{/url}">{name}</a></h2>
      {description|s|h|n2br}
    </article>{/posts}
    <div class="pagination">{#widget}pages{/widget}</div>
  {:else}
    <div class="message_in_content without_other_content">
      There are no topics yet.
      {^user.guest}
        <strong><a href="{#url}site.create_topic{/url}">Create one!</a></strong>
      {:else}
        <strong><a href="#" onclick="$('#login').focus();">Login</a></strong> or
        <strong><a href="#" onclick="$('#reg_login').focus();">register</a></strong>
        to create first post
      {/user.guest}
    </div>
  {/posts}
{/content}