<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Autodafe demo blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="autodafe demo blog">
  <meta name="author" content="Andrey Balakirev">

  <link rel="stylesheet" type="text/css" href="/css/style.css"/>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/jquery.form.js"></script>

  <script type="text/javascript">
    // задаем настройки по умолчанию для валидатора
    $.validator.setDefaults({
      submitHandler : function( form ){
        var validator = this;

        // форму отправляем по ajax
        $(form).ajaxSubmit({
          error : function(){
            // если возникли проблемы при отправке формы, показываем системную ошибку
            $('#server_error').removeClass('hidden');
          },

          success : function( data ){
            // если пришли ошибки валидации - показываем их
            if ( data.errors ) validator.showErrors( data.errors );
            // если нет то переходим на страницу присланную в результате
            else window.location = data.result;
          },

          dataType : 'json'
        });
      },
      errorClass : 'info',

      highlight: function(element, errorClass, validClass) {
        // при возникновении ошибки подсвечиваем не только сам элемент, но и всю группу, включающую описние и текст ошибки
        $(element).parent().addClass(errorClass).removeClass(validClass);
      },

      unhighlight: function(element, errorClass, validClass) {
        $(element).parent().removeClass(errorClass).addClass(validClass);
      }
    });
  </script>
</head>

<body>

<header class="navbar navbar-fixed-top">
  <div class="container">
    <a class="brand" href="{#url/}"><h1>Autodafe demo blog</h1></a>
  </div>
</header>

<section class="content container">
  <div class="row">
    <aside class="span3">
      {^user.guest}
      <form action="{#url}site.create_topic{/url}">
        <legend>Welcome!</legend>
        <p>
          You are logged in as <strong>{user.model.login}</strong>
          <small>(<a title="logout" href="{#url}user.logout{/url}">logout</a>)</small>
        </p>
        <input type="submit" value="Create new topic">
      </form>
      {:else}

      <form id="login_form" action="{#url}user.login{/url}" method="post">
        <legend>Login</legend>

        <div class="control-group">
          <label for="login">login</label>
          <input type="text" id="login" name="user[login]">
        </div>

        <div class="control-group">
          <label for="pass">password</label>
          <input type="password" id="pass" name="user[pass]">
        </div>

        <input type="submit">
      </form>

      <form id="reg_form" action="{#url}user.register{/url}" method="post">
        <legend>Register</legend>

        <div class="control-group">
          <label for="reg_login">login</label>
          <input type="text" id="reg_login" name="user[login]">
        </div>

        <div class="control-group">
          <label for="reg_pass">password</label>
          <input type="password" id="reg_pass" name="user[pass]">
        </div>

        <input type="submit">
      </form>
      {/user.guest}
    </aside>

    <section class="span9" id="content">
      <div id="server_error" class="alert alert-error hidden">
        <h4>Ooops!</h4>
        Something going wrong! Please try again later.
      </div>

      {+content/}
    </section>
  </div>

  <hr>

  <footer>
    Powered by <a href="http://autodafe.ws">Autodafé</a>
  </footer>
</section>

{?user.guest}
<script type="text/javascript">
  $(function(){
    var options = {
      rules : {
        'user[login]' : {
          required      : true },

        'user[pass]' : {
          required      : true,
          minlength     : 6 }
      }
    }

    $('#login_form').validate( options );
    $('#reg_form').validate( options );
  });
</script>
{/user.guest}

</body>
</html>