{>"{cd}/main.html"/}
{<content}
  <article>
    <h2><a href="{#url topic_id=topic.id}site.view_topic{/url}">{topic.name}</a></h2>
    {topic.description|s|h|n2br}

    <p class="author"><strong>{topic.author.login}</strong> <small>at {topic.date|local_date}</small></p>
  </article>

  <section id="comments">
    <div class="legend">Comments</div>
    {#topic.comments}

      <div class="comment">
        <p>{text}</p>
        <p class="author"><strong>{commenter.login}</strong> <small>at {date|local_date}</small></p>
      </div>

    {:else}

      No comments.
      {^user.guest}
        <strong><a href="#" onclick="$('#comment').find('textarea').focus(); return false;">Be first!</a></strong>
      {:else}
        <strong><a href="#" onclick="$('#login').focus();">Login</a></strong> or
        <strong><a href="#" onclick="$('#reg_login').focus();">register</a></strong>
        to comment
      {/user.guest}

    {/topic.comments}
  </section>


<section id="new_comment">
  {^user.guest}

    <form id="comment" name="comment" action="{#url}comment.create{/url}" method="post">
      <legend>New comment</legend>
      <div class="control-group">
        <textarea placeholder="Comment here" name="comment[text]">{text}</textarea>
      </div>
      <input type="hidden" name="topic_id" value="{topic.id}">
      <input type="submit" value="Send comment">
    </form>

    <script type="text/javascript">
      $(function(){
        var options = {
          rules : {
            'text' : {
              required      : true,
              maxlength     : 2048 }
        } }

        $('#comment').validate( options );
      });
    </script>

  {:else}{?topic.comments}

    <div class="legend">Wanna create comment?</div>
    <strong><a href="#" onclick="$('#login').focus();">Login</a></strong> or
    <strong><a href="#" onclick="$('#reg_login').focus();">register</a></strong>

  {/topic.comments}{/user.guest}
  </section>
{/content}